<a href="https://colab.research.google.com/github/Sunil-1234/Introduction-to-pyspark/blob/main/Pyspark_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**I am using iris dataset which can be downloaded from the link https://www.kaggle.com/datasets/saurabh00007/iriscsv**

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 45.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=33896ed871202ccdda3028e819f6de641ea3fd1ad5cd7535e05f06e2f724fc88
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
#Creating sparksession for reading and manipulating dataset
spark=SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
spark

In [ ]:
#Reading IRIS dataset
data=spark.read.csv('IRIS.csv')

In [ ]:
data

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [ ]:
#dataset
data.show()

+------------+-----------+------------+-----------+-----------+
|         _c0|        _c1|         _c2|        _c3|        _c4|
+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|          3|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|           5|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|           5|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|          3|         1.4|        0.1|Iris-setosa|
|         4.3|          3|         1.1|        0.1|Iris-setosa|
|         5.8|          4|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
# to set the first row as a column or header
data1=spark.read.option('header','True').csv('IRIS.csv')

In [ ]:
# We see that column name is changed
data1.show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|          3|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|           5|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|           5|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|          3|         1.4|        0.1|Iris-setosa|
|         4.3|          3|         1.1|        0.1|Iris-setosa|
|         5.8|          4|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
# To get more information abt column (checking schema)

data1.printSchema()

root
 |-- sepal_length: string (nullable = true)
 |-- sepal_width: string (nullable = true)
 |-- petal_length: string (nullable = true)
 |-- petal_width: string (nullable = true)
 |-- species: string (nullable = true)

We see that datatype of all column is string but some of them are integer or float to see that we use 'inferSchema'

In [ ]:
data3=spark.read.option('header','True').csv('IRIS.csv',inferSchema=True)

In [ ]:
data3.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- species: string (nullable = true)

Now, it is showing correct datatype by default it is string

In [ ]:
type(data1)

pyspark.sql.dataframe.DataFrame

Now type of our dataset is changed from pandas.datframe to sql.dataframe

In [ ]:
# To get column name of dataset
data3.columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [ ]:
# To get description abt numerical column

data3.describe().show()

+-------+------------------+-------------------+------------------+------------------+--------------+
|summary|      sepal_length|        sepal_width|      petal_length|       petal_width|       species|
+-------+------------------+-------------------+------------------+------------------+--------------+
|  count|               150|                150|               150|               150|           150|
|   mean| 5.843333333333335| 3.0540000000000007|3.7586666666666693|1.1986666666666672|          null|
| stddev|0.8280661279778637|0.43359431136217375| 1.764420419952262|0.7631607417008414|          null|
|    min|               4.3|                2.0|               1.0|               0.1|   Iris-setosa|
|    max|               7.9|                4.4|               6.9|               2.5|Iris-virginica|
+-------+------------------+-------------------+------------------+------------------+--------------+

In [ ]:
 #adding new column in the dataset
data1=data1.withColumn('age',data1['sepal_width']*100)

In [ ]:
data1.show()

+------------+-----------+------------+-----------+-----------+------------------+
|sepal_length|sepal_width|petal_length|petal_width|    species|               age|
+------------+-----------+------------+-----------+-----------+------------------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|             350.0|
|         4.9|          3|         1.4|        0.2|Iris-setosa|             300.0|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|             320.0|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|             310.0|
|           5|        3.6|         1.4|        0.2|Iris-setosa|             360.0|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|             390.0|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|             340.0|
|           5|        3.4|         1.5|        0.2|Iris-setosa|             340.0|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|             290.0|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|             310.0|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|             370.0|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|             340.0|
|         4.8|          3|         1.4|        0.1|Iris-setosa|             300.0|
|         4.3|          3|         1.1|        0.1|Iris-setosa|             300.0|
|         5.8|          4|         1.2|        0.2|Iris-setosa|             400.0|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|440.00000000000006|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|             390.0|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|             350.0|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|             380.0|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|             380.0|
+------------+-----------+------------+-----------+-----------+------------------+
only showing top 20 rows

In [ ]:
#drop column
data1=data1.drop('age')

In [ ]:
data1.show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         4.9|          3|         1.4|        0.2|Iris-setosa|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|
|           5|        3.6|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|
|           5|        3.4|         1.5|        0.2|Iris-setosa|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|
|         4.8|          3|         1.4|        0.1|Iris-setosa|
|         4.3|          3|         1.1|        0.1|Iris-setosa|
|         5.8|          4|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

**Handling missing value**

In [ ]:
#delete all row that contain null value in any one of its column

data1=data1.na.drop()

drop method contains three  parameter (how='any',thres=None,subset=None) let go through them one by one

In [ ]:
 # this will work similar to drop method
 data.na.drop(how='any')

 # this method will drop the row if all value in the row is null
 data.na.drop(how='all')

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [ ]:
#now, put the value of threshold

data.na.drop(how='any',thresh=2) # this will drop those row in which null value is more than 2

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string]

In [ ]:
#now, put the value of subset

data1.na.drop(how='any',subset='species') #this will drop those rows in which species column is null

DataFrame[sepal_length: string, sepal_width: string, petal_length: string, petal_width: string, species: string]

**Filling the missing value**

In [ ]:
data1.na.fill('0')  # this code will fill all null value with 0

DataFrame[sepal_length: string, sepal_width: string, petal_length: string, petal_width: string, species: string]

There is one more parameter in fill method known as subset. we give value of subset as column name

In [ ]:
data1.na.fill('Missing_value','species') # this code will fill null value in species column with Missing value

DataFrame[sepal_length: string, sepal_width: string, petal_length: string, petal_width: string, species: string]

In [ ]:
#Fill missing value with mean
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['sepal_length', 'sepal_width', 'petal_length'],
                outputCols=["{}_imputed".format(c) for c in ['sepal_length', 'sepal_width', 'petal_length']]).setStrategy("mean")

In [ ]:
imputer.fit(data3).transform(data3).show()

+------------+-----------+------------+-----------+-----------+--------------------+-------------------+--------------------+
|sepal_length|sepal_width|petal_length|petal_width|    species|sepal_length_imputed|sepal_width_imputed|petal_length_imputed|
+------------+-----------+------------+-----------+-----------+--------------------+-------------------+--------------------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|                 5.1|                3.5|                 1.4|
|         4.9|        3.0|         1.4|        0.2|Iris-setosa|                 4.9|                3.0|                 1.4|
|         4.7|        3.2|         1.3|        0.2|Iris-setosa|                 4.7|                3.2|                 1.3|
|         4.6|        3.1|         1.5|        0.2|Iris-setosa|                 4.6|                3.1|                 1.5|
|         5.0|        3.6|         1.4|        0.2|Iris-setosa|                 5.0|                3.6|                 1.4|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|                 5.4|                3.9|                 1.7|
|         4.6|        3.4|         1.4|        0.3|Iris-setosa|                 4.6|                3.4|                 1.4|
|         5.0|        3.4|         1.5|        0.2|Iris-setosa|                 5.0|                3.4|                 1.5|
|         4.4|        2.9|         1.4|        0.2|Iris-setosa|                 4.4|                2.9|                 1.4|
|         4.9|        3.1|         1.5|        0.1|Iris-setosa|                 4.9|                3.1|                 1.5|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|                 5.4|                3.7|                 1.5|
|         4.8|        3.4|         1.6|        0.2|Iris-setosa|                 4.8|                3.4|                 1.6|
|         4.8|        3.0|         1.4|        0.1|Iris-setosa|                 4.8|                3.0|                 1.4|
|         4.3|        3.0|         1.1|        0.1|Iris-setosa|                 4.3|                3.0|                 1.1|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|                 5.8|                4.0|                 1.2|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|                 5.7|                4.4|                 1.5|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|                 5.4|                3.9|                 1.3|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|                 5.1|                3.5|                 1.4|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|                 5.7|                3.8|                 1.7|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|                 5.1|                3.8|                 1.5|
+------------+-----------+------------+-----------+-----------+--------------------+-------------------+--------------------+
only showing top 20 rows

**Filter operation in dataset**

In [ ]:
#sepal_length greater than 5
data3.filter('sepal_length>5').show()

+------------+-----------+------------+-----------+-----------+
|sepal_length|sepal_width|petal_length|petal_width|    species|
+------------+-----------+------------+-----------+-----------+
|         5.1|        3.5|         1.4|        0.2|Iris-setosa|
|         5.4|        3.9|         1.7|        0.4|Iris-setosa|
|         5.4|        3.7|         1.5|        0.2|Iris-setosa|
|         5.8|        4.0|         1.2|        0.2|Iris-setosa|
|         5.7|        4.4|         1.5|        0.4|Iris-setosa|
|         5.4|        3.9|         1.3|        0.4|Iris-setosa|
|         5.1|        3.5|         1.4|        0.3|Iris-setosa|
|         5.7|        3.8|         1.7|        0.3|Iris-setosa|
|         5.1|        3.8|         1.5|        0.3|Iris-setosa|
|         5.4|        3.4|         1.7|        0.2|Iris-setosa|
|         5.1|        3.7|         1.5|        0.4|Iris-setosa|
|         5.1|        3.3|         1.7|        0.5|Iris-setosa|
|         5.2|        3.5|         1.5|        0.2|Iris-setosa|
|         5.2|        3.4|         1.4|        0.2|Iris-setosa|
|         5.4|        3.4|         1.5|        0.4|Iris-setosa|
|         5.2|        4.1|         1.5|        0.1|Iris-setosa|
|         5.5|        4.2|         1.4|        0.2|Iris-setosa|
|         5.5|        3.5|         1.3|        0.2|Iris-setosa|
|         5.1|        3.4|         1.5|        0.2|Iris-setosa|
|         5.1|        3.8|         1.9|        0.4|Iris-setosa|
+------------+-----------+------------+-----------+-----------+
only showing top 20 rows

In [ ]:
# want to get the name of species whose sepal length is greater than 5
data3.filter('sepal_length>5').select('species').show()

+-----------+
|    species|
+-----------+
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
+-----------+
only showing top 20 rows

In [ ]:
#apply more than one condition
data3.filter((data3['sepal_length']>5) & (data3['sepal_width']>4)).select('species').show()

+-----------+
|    species|
+-----------+
|Iris-setosa|
|Iris-setosa|
|Iris-setosa|
+-----------+

In [ ]:
#Groupby and sum method

data3.groupBy('species').sum('sepal_length').show()

+---------------+------------------+
|        species| sum(sepal_length)|
+---------------+------------------+
| Iris-virginica| 329.3999999999999|
|    Iris-setosa|250.29999999999998|
|Iris-versicolor|             296.8|
+---------------+------------------+

In [ ]:
data3.groupBy('species').sum('sepal_width').show()

+---------------+------------------+
|        species|  sum(sepal_width)|
+---------------+------------------+
| Iris-virginica|             148.7|
|    Iris-setosa|170.90000000000003|
|Iris-versicolor|138.50000000000003|
+---------------+------------------+